n8n/workflows/recordatorio_turnos.json
{
  "name": "OpenClinicIA — Recordatorio Turnos",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 1 }] }
      },
      "id": "schedule-trigger",
      "name": "Cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.OPENCLINICA_API_URL}}/api/v1/agenda/turnos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ={{$env.INTERNAL_API_TOKEN}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fecha", "value": "={{$now.toFormat('yyyy-MM-dd')}}" },
            { "name": "estado", "value": "programado" }
          ]
        }
      },
      "id": "get-turnos",
      "name": "Obtener Turnos del Día",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "turnos",
        "options": {}
      },
      "id": "split-turnos",
      "name": "Por cada Turno",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "needs-reminder",
              "leftValue": "={{Math.abs($now.diff($json.fecha_hora, 'hours').hours)}}",
              "rightValue": 2,
              "operator": { "type": "number", "operation": "lte" }
            }
          ]
        }
      },
      "id": "filter-2h",
      "name": "Turno en próx. 2hs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENCLINICA_API_URL}}/api/v1/agentes/webhook/telegram",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-Secret", "value": "={{$env.N8N_WEBHOOK_SECRET}}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{$env.TELEGRAM_CLINIC_CHAT_ID}}" },
            { "name": "message_id", "value": "=0" },
            { "name": "texto", "value": "=recordatorio_turno:{{$json.id}}" },
            { "name": "usuario_telegram", "value": "=sistema" }
          ]
        }
      },
      "id": "send-reminder",
      "name": "Enviar Recordatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Cada 1 hora": { "main": [[{"node": "Obtener Turnos del Día", "type": "main", "index": 0}]] },
    "Obtener Turnos del Día": { "main": [[{"node": "Por cada Turno", "type": "main", "index": 0}]] },
    "Por cada Turno": { "main": [[{"node": "Turno en próx. 2hs", "type": "main", "index": 0}]] },
    "Turno en próx. 2hs": {
      "main": [[{"node": "Enviar Recordatorio", "type": "main", "index": 0}], []]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "recordatorio-turnos",
  "tags": ["recordatorios", "turnos", "telegram"]
}
